
.card{
    width: 18rem;
    background-color: #fbe3e3;
    margin: 1rem;
}

#itemcount{
    background-color: aliceblue;
    margin: 0.5rem;
}

.resta, .suma{
    cursor: pointer;
    border: none;
    background-color: aliceblue;
    /* width: 30px;
    height: 30px;
    border-radius: 50%; */
}

