

#botonConfirmarCompra{
    width: 237px;
    margin: 0.2rem;
}

.col-form-label{
    margin: 0.2rem;
}

#mensajeFinal{
    background-color: #fbe3e3;
    margin: 1rem;
    max-width: 40rem;
}

#finalizar{
    display: flex;
    justify-content: center;
}

#boton{
    display: flex;
    justify-content: center;
}