

#botonConfirmarCompra{
    width: 237px;
    margin: 0.2rem;
}

.col-form-label{
    margin: 0.2rem;
}

#mensajeFinal{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    border: 3px, solid, black;
    margin-top: 1rem;
}